 /*Css file*/
 /********************************
  *******BODY SECTION*************
  ********************************/
html,body{
    margin:auto;
    padding:0;
    width:100%;
}
.nav nav {
    text-align: right;
}
.background{
    background-image: url("../assets/backgrounds/hero.jpg");
    height: inherit;
}
h1 p{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
}
#space1{
    height:210px;
}
#space2{
    height:10px;
}
#space3{
    height:50px;
}
#space4{
  width:20px;
}
nav{

}
 nav a{
    color: aliceblue;
    padding-left: 40px;
     text-decoration: none;
}
nav a:hover{
    
}
.product-selection{
    width:100%;
    background-color: darkkhaki;
    height:60px;
}
div a{
  text-decoration:none;
}
#men-women{
  margin:auto;
  width:90%;
}
.about{
   background-image: url("../assets/backgrounds/about.jpg");
   color:#ffffff;
   background-size:100%;
}
